<div class="form-div">
    <form id="project-form">
        <div class="form-row">
            <label for="projectName" class="col-sm-2 col-form-label">Project Name: </label>
            <div class="form-group col-sm-4">
                <input type="text" id="projectName" name="projectName" class="form-control input-sm">
            </div>
            <label for="projectOrg" class="col-sm-2 col-form-label">Organization Name: </label>
            <div class="form-group col-sm-4">
                <input type="text" id="projectOrg" name="projectOrg" class="form-control input-sm">
            </div>
        </div>
        <div class="form-row">
            <label for="projectStartDate" class="col-sm-2 col-form-label">Start Date:</label>
            <div class="form-group col-sm">
                <input type="date" id="projectStartDate" name="projectStartDate" class="form-control input-sm">
            </div>
            <label for="projectEndDate" class="col-sm-2 col-form-label">End Date:</label>
            <div class="form-group col-sm">
                <input type="date" id="projectEndDate" name="projectEndDate" class="form-control input-sm">
            </div>
        </div>
        <div class="form-row">
            <label for="projectDesc" class="col-sm-2 col-form-label">Description:</label>
            <div class="form-group col-sm">
                <textarea id="projectDesc" name="projectDesc" class="form-control input-sm" cols="30" rows="2"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col text-right mb-3">
                <button class="btn btn-primary btn-sm" id="addProject" type="button">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path fill-rule="evenodd"
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>&nbsp;
                    Add Project
                </button>
            </div>
        </div>
        <div class="row project-row">
            
        </div>
        
    </form>
</div>