<div class="sidenav">
    <p>Welcome, {{firstname}} {{lastname}}</p>
    <hr>
    {{!-- <a href="#">Profile</a> --}}
    <a href="#">Create New Resume</a>
    <a href="#">View Resume</a>
    {{!-- <a href="#">Logout</a> --}}
</div>