<div class="sidenav">
    <p>Welcome, {{firstname}} {{lastname}}</p>
    <hr>
    {{!-- <a href="#">Profile</a> --}}
    <a href="/userprofile">Create New Resume</a>
    <a href="/userprofile/viewresume" id="view-resume-sidenav">View Resume</a>
    {{!-- <a href="#">Logout</a> --}}
</div>