<div class="modal fade" id="templateSelectionModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="templateSelectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="templateSelectionModalLabel">Select Template</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="radio" name="templateId" class="form-control input-sm" value="1">
                <label for="templateId1">1</label>
                <input type="radio" name="templateId" class="form-control input-sm" value="2">
                <label for="templateId2">2</label>   
                <input type="radio" name="templateId" class="form-control input-sm" value="3">
                <label for="templateId2">3</label>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="selectTemplate">Done</button>
            </div>
        </div>
    </div>
</div>