{{>profileHeader}}
{{>sidenav}}

<div>
    <div class="main">
        <div class="form-header">
            <h2>VIEW RESUME</h2>
        </div>


        <div class="container template-body" id="template-body">
            {{>templateform}}
            
        </div>


    </div>

    {{!-- {{>footer}} --}}
</div>