.education {
    height: 7rem;
    width: 15rem;
}

.education .card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sem {
    display: none;
}


.edu-success-1,
.edu-fail,
.edu-error,
.edu-success-2 {
    display: none;
}

.edu-spinner-col {
    display: none;
}

#eduIdModal{
    display: none;
}

.edu-update {
    display: none;
}